In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                   "key2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
                   "data1" : np.random.standard_normal(7),
                   "data2" : np.random.standard_normal(7)})

In [ ]:
df

   key1  key2     data1     data2
0     a     1 -0.418936 -0.390327
1     a     2 -0.017003  1.435964
2  None     1  1.164011 -0.400824
3     b     2  1.040614  0.056901
4     b     1 -0.701267  0.380776
5     a  <NA> -0.474359  0.286069
6  None     1  0.394628  0.959438

In [ ]:
df['data1'].groupby(df['key1']).mean()

key1
a   -0.303433
b    0.169673
Name: data1, dtype: float64

In [ ]:
df['data1'].groupby([df['key1'],df['key2']]).mean()

key1  key2
a     1      -0.418936
      2      -0.017003
b     1      -0.701267
      2       1.040614
Name: data1, dtype: float64

In [ ]:
df['data1'].groupby([df['key1'],df['key2']]).mean().unstack()

key2         1         2
key1
a    -0.418936 -0.017003
b    -0.701267  1.040614

In [ ]:
state=np.array(['Mumbai','Thane','Mumbai','Thane','Pune','Pune','UP'])
years=[2005,2010,2010,2005,2010,2022,2022]

In [ ]:
df['data1'].groupby([state,years]).mean()

Mumbai  2005   -0.418936
        2010    1.164011
Pune    2010   -0.701267
        2022   -0.474359
Thane   2005    1.040614
        2010   -0.017003
UP      2022    0.394628
Name: data1, dtype: float64

In [ ]:
df['data1'].groupby([state,years]).mean().unstack()

            2005      2010      2022
Mumbai -0.418936  1.164011       NaN
Pune         NaN -0.701267 -0.474359
Thane   1.040614 -0.017003       NaN
UP           NaN       NaN  0.394628

In [ ]:
df.groupby(df['key1']).mean()

      key2     data1     data2
key1
a      1.5 -0.303433  0.443902
b      1.5  0.169673  0.218839

In [ ]:
df.groupby('key2').mean() #df.groupby(df['key1']).mean()

<ipython-input-20-fbd4301abb16>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('key2').mean()

         data1     data2
key2
1     0.109609  0.137266
2     0.511805  0.746433

In [ ]:
df

   key1  key2     data1     data2
0     a     1 -0.418936 -0.390327
1     a     2 -0.017003  1.435964
2  None     1  1.164011 -0.400824
3     b     2  1.040614  0.056901
4     b     1 -0.701267  0.380776
5     a  <NA> -0.474359  0.286069
6  None     1  0.394628  0.959438

In [ ]:
# returns a Series containing group sizes
df.groupby(['key1','key2']).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [ ]:
df.groupby('key1').size()

key1
a    3
b    2
dtype: int64

##### Note that any missing values in a group key are excluded from the result by default.This behavior can be disabled by passing dropna=False to groupby:

In [ ]:
df.groupby(['key1','key2'],dropna=False).size()

key1  key2
a     1       1
      2       1
      <NA>    1
b     1       1
      2       1
NaN   1       2
dtype: int64

In [ ]:
df.groupby('key1',dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [ ]:
df.groupby('key2',dropna=False).size()

key2
1       4
2       2
<NA>    1
dtype: int64

In [ ]:
#A group function size is same as count
df.groupby('key1').count()

      key2  data1  data2
key1
a        2      3      3
b        2      2      2

In [ ]:
df.groupby('key1').size()

key1
a    3
b    2
dtype: int64

####size includes NaN values, count does not .Notice that size is an attribute (gives the same result as len(df) or len(df.A)). count is a function.

In [ ]:
df = pd.DataFrame({'A': ['x', 'y', np.nan, 'z']})
df

     A
0    x
1    y
2  NaN
3    z

In [ ]:
df.A.size

4

In [ ]:
df.A.count()

3

In [ ]:
##Behaviour with groupby 

df = pd.DataFrame({
    'A': list('aaabbccc'),
    'B': ['x', 'x', np.nan, np.nan,
          np.nan, np.nan, 'x', 'x']
})

df

   A    B
0  a    x
1  a    x
2  a  NaN
3  b  NaN
4  b  NaN
5  c  NaN
6  c    x
7  c    x

In [ ]:
df.groupby('A').size()

A
a    3
b    2
c    3
dtype: int64

In [ ]:
df.groupby('A').count()

   B
A
a  2
b  0
c  2

GroupBy.count returns a DataFrame when you call count on all column, while GroupBy.size returns a Series.

The reason being that size is the same for all columns, so only a single result is returned. Meanwhile, the count is called for each column, as the results would depend on on how many NaNs each column has.

In [ ]:
df.groupby('key1')['data1'].mean()

key1
a   -0.303433
b    0.169673
Name: data1, dtype: float64

In [ ]:
#the code written in above shell is same as below code
df['data1'].groupby(df['key1']).mean()

key1
a   -0.303433
b    0.169673
Name: data1, dtype: float64

In [ ]:
people = pd.DataFrame(np.random.standard_normal((5, 5)),columns=["a", "b", "c", "d", "e"],index=["Joe", "Steve", "Wanda", "Jill", "Trey"])

In [ ]:
import numpy as np
import pandas as pd
people.iloc[2:3,[1,2]]=np.nan

In [ ]:
people

              a         b         c         d         e
Joe    0.887816  0.952787 -0.151929 -0.919107 -0.818785
Steve  0.194770  0.618834 -0.851219 -1.174080  1.648717
Wanda  0.722006       NaN       NaN -0.709073 -0.963845
Jill   1.235905 -1.101514 -1.118685  0.348652  0.786429
Trey   0.343771 -1.255924 -0.478670 -0.238503  0.672340

In [ ]:
mapping= {"a": "red", "b": "red", "c": "blue","d": "blue", "e": "red", "f" : "orange"}

In [ ]:
by_column = people.groupby(mapping, axis="columns")

In [ ]:
by_column.sum()

           blue       red
Joe   -1.071036  1.021818
Steve -2.025299  2.462320
Wanda -0.709073 -0.241839
Jill  -0.770033  0.920819
Trey  -0.717173 -0.239813

* Aggregations refer to any data transformation that produces scalar values from arrays.
* Aggregation function are mention below.


* **any, all** Return True if any (one or more values) or all non-NA values are “truthy”.
* **count** Number of non-NA values.
* **cummin, cummax** Cumulative minimum and maximum of non-NA values
* **cumsum** Cumulative sum of non-NA values.

* **cumprod** Cumulative product of non-NA values.
* **first, last** First and last non-NA values.
* **mean** Mean of non-NA values.
* **median** Arithmetic median of non-NA values.
* **min, max** Minimum and maximum of non-NA values.
* **nth** Retrieve value that would appear at position n with the data in sorted order.
* **ohlc** Compute four “open-high-low-close” statistics for time series-like data.

* **prod** Product of non-NA values
* **quantile** Compute sample quantile
* **rank** Ordinal ranks of non-NA values, like calling Series.rank
* **size** Compute group sizes, returning result as a Series
* **sum** Sum of non-NA values
* **std, var** Sample standard deviation and variance

In [ ]:
df

   key1  key2     data1     data2
0     a     1  1.051997 -0.462842
1     a     2  1.667578  0.410235
2  None     1 -0.867893  1.115405
3     b     2 -1.934056 -0.355586
4     b     1  0.776187  1.011805
5     a  <NA>  0.300531 -0.440788
6  None     1 -0.790586 -0.648768

In [ ]:
df['data1'].groupby(df['key1']).nsmallest(2)

key1
a     5    0.300531
      0    1.051997
b     3   -1.934056
      4    0.776187
Name: data1, dtype: float64

In [ ]:
df['data2'].groupby(df['key2']).nsmallest(2)

key2
1     6   -0.648768
      0   -0.462842
2     3   -0.355586
      1    0.410235
Name: data2, dtype: float64

In [ ]:
def func_agg(arr):
  return arr.max()-arr.min()

In [ ]:
df['data1'].groupby(df['key1']).agg(func_agg)

key1
a    1.367046
b    2.710243
Name: data1, dtype: float64

In [ ]:
df['data1'].groupby(df['key1']).describe()

,count,mean,std,min,25%,50%,75%,max
key1,,,,,,,,
a,3.0,1.006702,0.684648,0.300531,0.676264,1.051997,1.359787,1.667578
b,2.0,-0.578934,1.916431,-1.934056,-1.256495,-0.578934,0.098626,0.776187

In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/tips.csv')

In [ ]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
data.groupby(['day','smoker'])['tip'].mean()

day   smoker
Fri   No        2.812500
      Yes       2.714000
Sat   No        3.102889
      Yes       2.875476
Sun   No        3.167895
      Yes       3.516842
Thur  No        2.673778
      Yes       3.030000
Name: tip, dtype: float64

In [ ]:
data.groupby(['day','smoker'])['tip'].agg(['mean','std',func_agg])

                 mean       std  func_agg
day  smoker
Fri  No      2.812500  0.898494      2.00
     Yes     2.714000  1.077668      3.73
Sat  No      3.102889  1.642088      8.00
     Yes     2.875476  1.630580      9.00
Sun  No      3.167895  1.224785      4.99
     Yes     3.516842  1.261151      5.00
Thur No      2.673778  1.282964      5.45
     Yes     3.030000  1.113491      3.00

In [ ]:
data.groupby(['day','smoker'])['tip'].agg([('Average','mean'),'std',('userdefind function',func_agg)])

              Average       std  userdefind function
day  smoker
Fri  No      2.812500  0.898494                 2.00
     Yes     2.714000  1.077668                 3.73
Sat  No      3.102889  1.642088                 8.00
     Yes     2.875476  1.630580                 9.00
Sun  No      3.167895  1.224785                 4.99
     Yes     3.516842  1.261151                 5.00
Thur No      2.673778  1.282964                 5.45
     Yes     3.030000  1.113491                 3.00

In [ ]:
function=['mean','count','max']
data.groupby(['day','smoker'])['tip'].agg(function)

                 mean  count    max
day  smoker
Fri  No      2.812500      4   3.50
     Yes     2.714000     15   4.73
Sat  No      3.102889     45   9.00
     Yes     2.875476     42  10.00
Sun  No      3.167895     57   6.00
     Yes     3.516842     19   6.50
Thur No      2.673778     45   6.70
     Yes     3.030000     17   5.00

In [ ]:
data.groupby(["day", "smoker"]).mean()

<ipython-input-19-114a3f87a715>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(["day", "smoker"]).mean()

             total_bill       tip      size
day  smoker
Fri  No       18.420000  2.812500  2.250000
     Yes      16.813333  2.714000  2.066667
Sat  No       19.661778  3.102889  2.555556
     Yes      21.276667  2.875476  2.476190
Sun  No       20.506667  3.167895  2.929825
     Yes      24.120000  3.516842  2.578947
Thur No       17.113111  2.673778  2.488889
     Yes      19.190588  3.030000  2.352941

In [ ]:
data.groupby(["day", "smoker"],as_index=False).mean()

<ipython-input-20-dd658242bf25>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(["day", "smoker"],as_index=False).mean()

    day smoker  total_bill       tip      size
0   Fri     No   18.420000  2.812500  2.250000
1   Fri    Yes   16.813333  2.714000  2.066667
2   Sat     No   19.661778  3.102889  2.555556
3   Sat    Yes   21.276667  2.875476  2.476190
4   Sun     No   20.506667  3.167895  2.929825
5   Sun    Yes   24.120000  3.516842  2.578947
6  Thur     No   17.113111  2.673778  2.488889
7  Thur    Yes   19.190588  3.030000  2.352941

In [ ]:
data.groupby(["day", "smoker"],as_index=False).mean().reset_index()

<ipython-input-21-9ecd6fad1d3b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(["day", "smoker"],as_index=False).mean().reset_index()

   index   day smoker  total_bill       tip      size
0      0   Fri     No   18.420000  2.812500  2.250000
1      1   Fri    Yes   16.813333  2.714000  2.066667
2      2   Sat     No   19.661778  3.102889  2.555556
3      3   Sat    Yes   21.276667  2.875476  2.476190
4      4   Sun     No   20.506667  3.167895  2.929825
5      5   Sun    Yes   24.120000  3.516842  2.578947
6      6  Thur     No   17.113111  2.673778  2.488889
7      7  Thur    Yes   19.190588  3.030000  2.352941