* Stack allows information from columns to swing to indexes and vice versa (with unstack()). 



* Stack and unstack method works with the MultiIndex objects in DataFrame

* unstack the prescribed level(s) from row to column

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.DataFrame([[0, 1], [2, 3]],
                 index=['cat', 'dog'],
                 columns=['weight', 'height'])

In [3]:
df

     weight  height
cat       0       1
dog       2       3

In [14]:
stacked=df.stack()
print('*'*30,'stacked dataframe','*'*30)
print(stacked)
print('*'*30,'unstacked dataframe','*'*30)
print(stacked.unstack())

****************************** stacked dataframe ******************************
cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64
****************************** unstacked dataframe ******************************
     weight  height
cat       0       1
dog       2       3

In [9]:
stacked.unstack()

     weight  height
cat       0       1
dog       2       3

In [31]:
header = pd.MultiIndex.from_product([['Semester1','Semester2'],['Maths','Science']])

d=([[12,45,67,56],[78,89,45,67],[45,67,89,90],[67,44,56,55]])
df = pd.DataFrame(d,
                  index=['Alisa','Bobby','Cathrine','Jack'],
                  columns=header)
df

         Semester1         Semester2
             Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

* When more than one column header is present we can stack the specific column header by specified the level.
* Stacking a dataframe at level 1 will stack maths and science columns row wise
* Stacking a dataframe at level 0 will stack semester1 and semester2 columns row wise.

In [40]:
stacked_level1=df.stack() # or df.stack(level=1) is same
stacked_level1

                  Semester1  Semester2
Alisa    Maths           12         67
         Science         45         56
Bobby    Maths           78         45
         Science         89         67
Cathrine Maths           45         89
         Science         67         90
Jack     Maths           67         56
         Science         44         55

In [41]:
#stacking at different level
stacked_level0=df.stack(level=0)
stacked_level0

                    Maths  Science
Alisa    Semester1     12       45
         Semester2     67       56
Bobby    Semester1     78       89
         Semester2     45       67
Cathrine Semester1     45       67
         Semester2     89       90
Jack     Semester1     67       44
         Semester2     56       55

* unstack() Function in dataframe unstacks the row to columns . Basically it’s a reverse of stacking

In [43]:
unstacked=stacked_level1.unstack()
unstacked

         Semester1         Semester2
             Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [45]:
unstacked_level0=stacked_level0.unstack()
unstacked_level0

             Maths             Science
         Semester1 Semester2 Semester1 Semester2
Alisa           12        67        45        56
Bobby           78        45        89        67
Cathrine        45        89        67        90
Jack            67        56        44        55

* Melt in pandas reshape dataframe from wide format to long format.

* Melt combines columns to a standard 3-column format of id_vars, variable, value to allow columnar processing of variable before pivoting back with edited column values.

* We can use pivot() function to unmelt the output dataframe back to the original dataframe.

In [19]:
d1 = {"Name": ["Nitesh", "Sam", "Tom"], 
      "ID": [11, 22, 33], 
      "Role": ["Developer", "Admin", "CEO"]}

df=pd.DataFrame(d1)

In [20]:
df

     Name  ID       Role
0  Nitesh  11  Developer
1     Sam  22      Admin
2     Tom  33        CEO

In [29]:
#pandas melt with multiple value_vars
df_melted=pd.melt(df,id_vars=['ID'],value_vars=['Name','Role'])

In [30]:
df_melted

   ID variable      value
0  11     Name     Nitesh
1  22     Name        Sam
2  33     Name        Tom
3  11     Role  Developer
4  22     Role      Admin
5  33     Role        CEO

In [25]:
#pandas melt example
df_melted=pd.melt(df,id_vars=['ID'])
df_melted

   ID variable      value
0  11     Name     Nitesh
1  22     Name        Sam
2  33     Name        Tom
3  11     Role  Developer
4  22     Role      Admin
5  33     Role        CEO

In [28]:
#Multiple columns as id_vars
pd.melt(df,id_vars=['ID','Name'],value_vars=['Role'])

   ID    Name variable      value
0  11  Nitesh     Role  Developer
1  22     Sam     Role      Admin
2  33     Tom     Role        CEO